section {
  justify-content: center;
  align-items: center;
  height: 100%;
}
div {
  background-color: var(--black-hover);
  padding: var(--pdg-l) var(--pdg-xl);
  border-radius: var(--brd-rds-m);
  justify-content: center;
  align-items: center;
  box-shadow: -10px 5px 300px 10px var(--silver),
    10px 5px 300px 10px var(--silver), 5px -10px 300px 10px var(--silver),
    -5px -10px 300px 10px var(--silver);
}

h1 {
  color: var(--white);
  font-size: var(--fts-xl);
  margin-bottom: var(--mrg-m);
}
h2 {
  color: var(--white);
}
